:root{
    --white:#FFFFFF;
    --black:#000000;
    --purple:#A966DD;
    --light-purple:#C599E8;
    --dark-purple:#360060;
    --alt-dark-purple:#6F00C6;
    --alt-orange:#FF8F5F;
    --orange: #70E09D;
}